@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0D47A1;
  --secondary: #FFC107;
  --bgalt: #F5F7FA;
}
body { font-family: 'Poppins', ui-sans-serif, system-ui; }
.container { max-width: 1100px; margin: 0 auto; }
.header-logo { width: 44px; height:44px; border-radius:8px; }
